
<!DOCTYPE HTML>

<html lang="ko" xmlns:th="https://www.thymeleaf.org">
<head>


    <title>소프트웨어공학 19조</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="stylesheet" href="assets/css/main.css" />

    <style> body {background-color:blanchedalmond;
		#content{background-color:rgb(255, 255, 255); padding:10px;margin:-2em;}
		.major p{color:white;}.new_comment{background-color:beige; color:black;padding:1em;margin-right:2em;}
		#comments{background-color:rgba(253, 253, 247, 0.692); color:black; padding:1em;margin-right:5em;}
		#s{float:right;background-color: rgb(255, 255, 255); color:rgb(53, 53, 53); text-align:center;
			width:4em;  height:3em;padding-left:1em;
		} #s:hover{background-color:rgb(255, 194, 80); box-shadow:inset 0 0 0 1px #d4ab24; color:white !important;}
		#nav{margin-right:18em;text-align:left;}		#se{float:left; width:80%;height:3em;}}
		</style>
</head>
<body id="subpage2">

<!-- Header -->
<header id="header">
    <div class="logo-container">
        <div class="logo">
            <img src='images/logo.png' width="50"></div>
        <h1><a href="/home">Issue Tracking System</a></h1>
    </div>


    <nav id="nav" >
        <ul>
            <li><a href="/issueCreate">이슈생성</a></li>

            <li><a href="/issueList">이슈찾기</a></li>

        </ul>
    </nav>

</header>

<!-- Main -->
<div id="main" class="container">

    <div class="row 70%" id="content"> <!--여기 board는 우리 팀에 맞게 수정필요-->
        <div class="8u 12u$(medium)">

            <!-- 이슈 생성 당시의 내용 -->
            <section>
                <br>
                <h3 th:text="${issueInfo.title}">이슈의 제목</h3>
                <!-- 필요한 경우 이미지 출력 -->
                <!-- <img th:src="@{${img.getImage()}}" alt="status"> -->
                <!-- <img src="images/new_status.png" alt="status" style="text-align:center"> -->
                <span>
        <h4 id="description" th:text="${issueInfo.description}">
            &nbsp;이슈 설명 내용
        </h4>
    </span>
                <hr>
                <div id="comments"> <!-- 이미 올린 코멘트들 -->
                    <!-- 댓글 리스트를 반복 -->
                    <dl th:if="!{issueInfo.comment}" th:text="null"></dl>
                    <dl th:each="comment : ${issueInfo.comment}">
                        <dt th:text="${comment.id}">코멘트 작성자, 작성날짜</dt>
                        <dd th:text="${comment.comment}">코멘트 내용</dd>
                    </dl>
                    <hr style="border:dashed 0.1px; color:rgb(216, 216, 216)">
                </div>
                <br>
                <hr>
                <!-- 코멘트 작성 폼 -->
                <div class="new_comment">
                    <h4>코멘트 작성</h4>
                    <form method="post">
                        <div class="12u$">
                            <textarea name="comment" id="comment" placeholder="comment 내용을 적어주세요" rows="4" required></textarea>
                        </div>
                        <input type="submit" value="발행" id="s">
                        <br>
                    </form>
                </div>
                <br>
            </section>

            <div class="4u$ 12u$">
                <br>
                <h4>구체적 내용</h4>
                <table> <!-- 값 가져와서 넣기 (값이 있다면!) -->
                    <tr>
                        <td>중대성</td>
                        <td th:text="${issueInfo.priority}"></td>
                    </tr>
                    <tr>
                        <td>reporter</td>
                        <td th:text="${issueInfo.reporter}"></td>
                    </tr>
                    <tr>
                        <td>created date</td>
                        <td th:text="${issueInfo.reportedDate}"></td>
                    </tr>
                    <tr>
                        <td>assignee</td>
                        <td th:text="${issueInfo.assignee}"></td>
                    </tr>
                </table>
            </div>


            <div id="assginD" >
                <h4>DEV assign하기</h4>
                <form method="post" name="assign" >
                    <select name="assign하기" value="assign" id="se" >

                        <option value="none" selected>DEV assign하기</option>
                        <option value="dev1">DEV1</option>
                        <option value="dev2">DEV2</option>
                        <option value="dev3">DEV3</option>
                        <option value="dev4">DEV4</option>
                        <option value="dev5">DEV5</option>
                    </select>


                    <input type="submit" value="등록" id="s">

                </form>
            </div>


            <br>
            <br>

            <div id="changestatus"> <!--엇 여기도 post 넣어줘야 된다..!-->
                <h4>이슈상태 변경</h4>
                <form method="post">
                    <input type="button" value="change status" >
                </form>

            </div>



        </div>




    </div>
</div>

<!-- Footer -->
<footer id="footer">
    <div class="container">
        <div class="row">
            <section class="6u 12u$(medium) about">
                <h2>더욱 효과적인 협업관계를 <br />도와주는 툴
                </h2>
                <p>최고의 수업 소프트웨어 공학과 함께하세요 </p>
                <ul class="actions">
                    <li><a class="button">contact</a></li>
                </ul>
            </section>
            <section class="6u 12u$(small)">
		    
		<h3>Get in touch</h3>
			<ul class="labeled-icons">				
				<li>
					<h4 class="icon alt fa-home"><span class="label">Address</span></h4>
					<span>서울시 동작구 흑석동<br />
					중앙대학교, 소프트웨어공학 화 분반</span>>
				</li>
				<li>
					<h4 class="icon alt fa-envelope"><span class="label">Email</span></h4>
					<a href="#">SEteam19@gmail.com</a>
				</li>
				<li>
					<h4 class="icon alt fa-facebook"><span class="label">Facebook</span></h4>
					<a href="#">https://github.com/Term_Project_19</a>
				</li>
				
			</ul>
	    </section>

        </div>
    </div>
    <div class="copyright container">
        <p>copyrights in 소프트웨어공학 수업 19조</p>
        <p>&copy; 소공19조. All rights reserved.</p>
        <ul class="menu">
            <li><a href="#">Terms of Use</a></li>
            <li><a href="#">Privacy Policy</a></li>
            <li><a href="#">Contact Us</a></li>
        </ul>
    </div>
</footer>


<!-- Scripts -->
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/jquery.scrolly.min.js"></script>
<script src="assets/js/skel.min.js"></script>
<script src="assets/js/util.js"></script>
<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
<script src="assets/js/main.js"></script>

</body>
</html>
