<!DOCTYPE HTML>
<!--
	Exponent by Pixelarity
	pixelarity.com | hello@pixelarity.com
	License: pixelarity.com/license
-->

<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
	
	<!--END Google tag-->

	<title>소프트웨어공학 19조</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
	<link rel="stylesheet" href="assets/css/main.css" />
	<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
	<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
</head>
<body>

<!-- Header -->
<header id="header">
	<div class="logo-container">
		<div class="logo">
		<img src='images/logo.png' width="50"></div>
		<h1><a href="index.html">software19조</a></h1>					
	</div>
	

	<nav id="nav" >
		<ul>
			<li><a th:href="/issueCreate">이슈생성</a></li>

			<li><a th:href="/issueList">이슈찾기</a></li> 
			
		</ul>
	</nav>

	
		
	
</header>

<!-- Main -->
<div id="main" class="container 75%">
	<header class="major">
		<h2>이슈 만들기</h2>
		<p>프로젝트 관련 이슈들을 리포트해주세요</p>
	</header>

	<!-- Content || 제목/ description/ priority -->
	<section id="content">

		<form method="post" th:action="@{/issueCreate}" th:object="${issueDto}">	<!--action 부분에 데이명터를 보낼 서버페이지 주소 입력-->
			<div class="row uniform 50%">
				<div class="12u$">프로젝트명
					<div class="12u$">
						<select th:field ="*{projectName}" value="assign" id="se" >
									
							<option value="none" selected>해당하는 프로젝트를 고르세요</option>
							<option th:text="${project.projectName}" th:value="${project.projectName}" >SE 2024</option> <!--우선 보이긴 해야 할 것같아서 SE2024로 적어두었습니다-->
							<option value="none" disabled>룰루랄라 신나는 소프트웨어공학</option>
							<option value="none" disabled>소프트웨어로 세상 정복하기</option>
							<option value="none" disabled>어디웨어 소프트웨어</option>
							
						</select>
					</div>
				</div>
				<div class="12u$">이슈 제목
					<div class="12u$">
						<input type="text" th:field="*{title}" id="title"  placeholder="제목을 적어주세요" required/>
					</div>
				</div>
			</div>
			<div class="row uniform 50%">
				<div class="12u$">이슈 상세내용
					<div class="12u$">
						<textarea th:field="*{description}" name="description" id="message" placeholder="이슈의 description을 상세하게 적어주세요" rows="8" required></textarea>
					</div>
				</div>
			</div>

			<div class="row uniform 50%" th:field="*{priority}" id="priority"> <!--값이 제대로 넘어갔는지 체크 필요할 듯-->
				<div class="12u$">이슈의 중대성</div>
				
				<div class="4u 12u$(small)">
					<input type="radio" id="priority-high"  name="priority" value="high" >
					<label for="priority-high">긴급</label>
				</div>
				<div class="4u 12u$(small)">
					<input type="radio" id="priority-normal" name="priority" value="normal"  checked>
					<label for="priority-normal">보통</label>
				</div>
				<div class="4u$ 12u$(small)">
					<input type="radio" id="priority-low"  name="priority" value="low">
					<label for="priority-low">여유</label>
				</div>
			</div>

			

			<div class="row uniform">
				<div class="12u$">
					<ul class="actions align-center">
						<li><input type="submit" value="이슈 만들기" class="special" /></li>
						<li><input type="reset" value="새로고침" /></li>
					</ul>
				</div>
			</div>


		</form>
	</section>

</div>

<!-- Footer -->
<footer id="footer">
	<div class="container">
		<div class="row">
			<section class="6u 12u$(medium) about">
				<h2>더욱 효과적인 협업관계를 <br />도와주는 툴
				</h2>
				<p>최고의 수업 소프트웨어 공학과 함께하세요 </p>
				<ul class="actions">
					<li><a class="button">contact</a></li>
				</ul>
			</section>
			<section class="6u 12u$(small)">
				<h3>Updates</h3>
				<ul class="updates">
					<li>
						<p><a href="#">핫치토스 가져오다 밀수범으로 오해받아...</a></p>
						<span class="timestamp">Posted 2 hours ago</span>
					</li>
					<li>
						<p><a href="#">생성형 AI로 핫치토스 구애곡을 만들어보자</a></p>
						<span class="timestamp">Posted 6 hours ago</span>
					</li>
					<li>
						<p><a href="#">우리집 외국과자점에서 핫치토스가 사라지다...</a></p>
						<span class="timestamp">Posted 10 hours ago</span>
					</li>

				</ul>
			</section>
			
		</div>
	</div>
	<div class="copyright container">
		<p>copyrights in 소프트웨어공학 수업 19조</p>
		<p>&copy; 소공19조. All rights reserved.</p>
		<ul class="menu">
			<li><a href="#">Terms of Use</a></li>
			<li><a href="#">Privacy Policy</a></li>
			<li><a href="#">Contact Us</a></li>
		</ul>
	</div>
</footer>

<!-- Scripts -->
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/jquery.scrolly.min.js"></script>
<script src="assets/js/skel.min.js"></script>
<script src="assets/js/util.js"></script>
<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
<script src="assets/js/main.js"></script>

</body>
</html>
